/CS-1/bin
/CS-1/obj
/Empty/obj
/Empty/bin
/Helper/bin
/Helper/obj
/homework2/obj
/homework2/bin
/Sum/obj
/Sum/bin
/Task1/obj
/Task1/bin
/Task2/obj
/Task2/bin
/Task3/obj
/Task3/bin
/Task4/obj
/Task4/bin
/Task5/obj
/Task5/bin
/Task6/obj
/Task6/bin
/homework3/bin
/homework3/obj
/homework4/bin
/homework4/obj
/GuessNumber/bin/Debug
/GuessNumber/obj/Debug
/WindowsFormsApp1/obj/Debug
/WindowsFormsApp1/bin/Debug
/homework6/bin/Debug
/homework5/bin/Debug
/homework5/obj/Debug
/homework6/obj/Debug
